@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*1. Background*/
/*3. Button*/
/*4. Accordian & Tabs*/
/*5. Tables*/
/*6. Typogrphy*/
/*7. Border*/
/*8. Spacer*/
/*************************
1. Mixin - Font Family
*************************/
/*************************
2. Mixin - Box Shadow
*************************/
/*************************
3. Mixin - Text field
*************************/
/*************************
4. Mixin - Button
*************************/
/*************************
5. Mixin - Border Radius
*************************/
/*************************
6. Mixin - Gradient
*************************/
/*************************
7. Mixin - Shapes - Circle
*************************/
/**************************************************
8. Mixin - Shapes - Triangle - Up/Down/Left/Right
**************************************************/
/***********************************
9. Mixin - Shapes - Diamond
***********************************/
/***********************************
10. Mixin - Padding - TOP & Bottom
***********************************/
/***********************************
11. Mixin - Default Box
header{ @include default-box(#666, block, 10px); }
***********************************/
/*************************
12. Mixin - ease-out
*************************/
/*************************
13. Mixin - Box Sizing
*************************/
/*************************
14. Mixin - Transition
*************************/
/* @include transition(all,2s,ease-out); */
/* line 1, ../sass/base/_reset.scss */
dl, ol, ul, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

/*************************
1. Font Embedding
*************************/
/*1. @include font-face(Samplinal, fonts/Samplinal, 500, normal, eot woff2 woff);*/
/* line 12, ../sass/base/_typography.scss */
button {
  font-family: "Titillium Web", sans-serif;
  display: inline-block;
  outline: none 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  background: #fff;
  overflow: hidden;
  padding: 0;
  border: none 1px #fff;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@font-face {
  /* line 12, ../sass/base/_typography.scss */
  button {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/TitilliumWeb-Regular.eot?") format("eot"), url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"), url("../fonts/TitilliumWeb-Regular.woff") format("woff"), url("../fonts/TitilliumWeb-Regular.svg#Titillium_Web") format("svg");
  }
}
/* line 89, ../sass/helpers/_mixins.scss */
button:hover {
  text-decoration: none;
  background: white;
}
/* line 93, ../sass/helpers/_mixins.scss */
button:active {
  outline: none 0px;
}
/* line 96, ../sass/helpers/_mixins.scss */
button:focus {
  outline: none 0px;
}
@font-face {
  /* line 15, ../sass/base/_typography.scss */
  button span {
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/TitilliumWeb-Regular.eot?") format("eot"), url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"), url("../fonts/TitilliumWeb-Regular.woff") format("woff"), url("../fonts/TitilliumWeb-Regular.svg#Titillium_Web") format("svg");
  }
}
/*********/
/***********************************
1. Icon variables
2. Icon Styles
************************************/
/***********************************
		1. Icon variables
************************************/
/***********************************
		2. Icon Styles
************************************/
@font-face {
  font-family: 'exide_icons';
  src: url("../fonts/exide_icons.eot?mnd21y");
  src: url("../fonts/exide_icons.eot?mnd21y#iefix") format("embedded-opentype"), url("../fonts/exide_icons.ttf?mnd21y") format("truetype"), url("../fonts/exide_icons.woff?mnd21y") format("woff"), url("../fonts/exide_icons.svg?mnd21y#exide_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 122, ../sass/base/_icon.scss */
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'exide_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 138, ../sass/base/_icon.scss */
.exd-apple:before {
  content: "";
}

/* line 143, ../sass/base/_icon.scss */
.exd-award:before {
  content: "";
}

/* line 148, ../sass/base/_icon.scss */
.exd-bag:before {
  content: "";
}

/* line 153, ../sass/base/_icon.scss */
.exd-box:before {
  content: "";
}

/* line 158, ../sass/base/_icon.scss */
.exd-box_02:before {
  content: "";
}

/* line 163, ../sass/base/_icon.scss */
.exd-calculator:before {
  content: "";
}

/* line 168, ../sass/base/_icon.scss */
.exd-calender:before {
  content: "";
}

/* line 173, ../sass/base/_icon.scss */
.exd-calender_01:before {
  content: "";
}

/* line 178, ../sass/base/_icon.scss */
.exd-call:before {
  content: "";
}

/* line 183, ../sass/base/_icon.scss */
.exd-chat:before {
  content: "";
}

/* line 188, ../sass/base/_icon.scss */
.exd-close:before {
  content: "";
}

/* line 193, ../sass/base/_icon.scss */
.exd-close_box:before {
  content: "";
}

/* line 198, ../sass/base/_icon.scss */
.exd-close_round .path1:before {
  content: "";
  color: #5d5e5e;
}

/* line 204, ../sass/base/_icon.scss */
.exd-close_round .path2:before {
  content: "";
  margin-left: -1em;
  color: white;
}

/* line 211, ../sass/base/_icon.scss */
.exd-doctor:before {
  content: "";
}

/* line 216, ../sass/base/_icon.scss */
.exd-down:before {
  content: "";
}

/* line 221, ../sass/base/_icon.scss */
.exd-down_box:before {
  content: "";
}

/* line 226, ../sass/base/_icon.scss */
.exd-facebook:before {
  content: "";
}

/* line 231, ../sass/base/_icon.scss */
.exd-google_pluse:before {
  content: "";
}

/* line 236, ../sass/base/_icon.scss */
.exd-graph:before {
  content: "";
}

/* line 241, ../sass/base/_icon.scss */
.exd-hand:before {
  content: "";
}

/* line 246, ../sass/base/_icon.scss */
.exd-hand_01:before {
  content: "";
}

/* line 251, ../sass/base/_icon.scss */
.exd-hand_02:before {
  content: "";
}

/* line 256, ../sass/base/_icon.scss */
.exd-hand_03:before {
  content: "";
}

/* line 261, ../sass/base/_icon.scss */
.exd-hand_04:before {
  content: "";
}

/* line 266, ../sass/base/_icon.scss */
.exd-in:before {
  content: "";
}

/* line 271, ../sass/base/_icon.scss */
.exd-info_01:before {
  content: "";
}

/* line 276, ../sass/base/_icon.scss */
.exd-info_02:before {
  content: "";
}

/* line 281, ../sass/base/_icon.scss */
.exd-leaf:before {
  content: "";
}

/* line 286, ../sass/base/_icon.scss */
.exd-left:before {
  content: "";
}

/* line 291, ../sass/base/_icon.scss */
.exd-light:before {
  content: "";
}

/* line 296, ../sass/base/_icon.scss */
.exd-love:before {
  content: "";
}

/* line 301, ../sass/base/_icon.scss */
.exd-love_hand:before {
  content: "";
}

/* line 306, ../sass/base/_icon.scss */
.exd-mail:before {
  content: "";
}

/* line 311, ../sass/base/_icon.scss */
.exd-man_01:before {
  content: "";
}

/* line 316, ../sass/base/_icon.scss */
.exd-man_02 .path1:before {
  content: "";
  color: #1d3d72;
}

/* line 322, ../sass/base/_icon.scss */
.exd-man_02 .path2:before {
  content: "";
  margin-left: -1em;
  color: #ec2427;
}

/* line 329, ../sass/base/_icon.scss */
.exd-man_02 .path3:before {
  content: "";
  margin-left: -1em;
  color: #1d3d72;
}

/* line 336, ../sass/base/_icon.scss */
.exd-man_03:before {
  content: "";
}

/* line 341, ../sass/base/_icon.scss */
.exd-map:before {
  content: "";
}

/* line 346, ../sass/base/_icon.scss */
.exd-medical:before {
  content: "";
}

/* line 351, ../sass/base/_icon.scss */
.exd-money_01:before {
  content: "";
}

/* line 356, ../sass/base/_icon.scss */
.exd-money_02:before {
  content: "";
}

/* line 361, ../sass/base/_icon.scss */
.exd-money_03 .path1:before {
  content: "";
  color: #003975;
}

/* line 367, ../sass/base/_icon.scss */
.exd-money_03 .path2:before {
  content: "";
  margin-left: -1em;
  color: #ed1c24;
}

/* line 374, ../sass/base/_icon.scss */
.exd-money_03 .path3:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 381, ../sass/base/_icon.scss */
.exd-money_03 .path4:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 388, ../sass/base/_icon.scss */
.exd-mouse:before {
  content: "";
}

/* line 393, ../sass/base/_icon.scss */
.exd-news:before {
  content: "";
}

/* line 398, ../sass/base/_icon.scss */
.exd-note:before {
  content: "";
}

/* line 403, ../sass/base/_icon.scss */
.exd-note_01:before {
  content: "";
}

/* line 408, ../sass/base/_icon.scss */
.exd-note_02:before {
  content: "";
}

/* line 413, ../sass/base/_icon.scss */
.exd-note_03:before {
  content: "";
}

/* line 418, ../sass/base/_icon.scss */
.exd-note_04:before {
  content: "";
}

/* line 423, ../sass/base/_icon.scss */
.exd-note_05:before {
  content: "";
}

/* line 428, ../sass/base/_icon.scss */
.exd-note_search:before {
  content: "";
}

/* line 433, ../sass/base/_icon.scss */
.exd-pdf:before {
  content: "";
}

/* line 438, ../sass/base/_icon.scss */
.exd-people .path1:before {
  content: "";
  color: #003975;
}

/* line 444, ../sass/base/_icon.scss */
.exd-people .path2:before {
  content: "";
  margin-left: -1em;
  color: #ed1c24;
}

/* line 451, ../sass/base/_icon.scss */
.exd-people .path3:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 458, ../sass/base/_icon.scss */
.exd-people .path4:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 465, ../sass/base/_icon.scss */
.exd-people .path5:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 472, ../sass/base/_icon.scss */
.exd-people .path6:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 479, ../sass/base/_icon.scss */
.exd-people .path7:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 486, ../sass/base/_icon.scss */
.exd-people .path8:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 493, ../sass/base/_icon.scss */
.exd-people .path9:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 500, ../sass/base/_icon.scss */
.exd-people .path10:before {
  content: "";
  margin-left: -1em;
  color: #003975;
}

/* line 507, ../sass/base/_icon.scss */
.exd-peoples_01:before {
  content: "";
}

/* line 512, ../sass/base/_icon.scss */
.exd-peoples_02:before {
  content: "";
}

/* line 517, ../sass/base/_icon.scss */
.exd-percent_box:before {
  content: "";
}

/* line 522, ../sass/base/_icon.scss */
.exd-phone:before {
  content: "";
}

/* line 527, ../sass/base/_icon.scss */
.exd-play:before {
  content: "";
}

/* line 532, ../sass/base/_icon.scss */
.exd-play_round:before {
  content: "";
}

/* line 537, ../sass/base/_icon.scss */
.exd-right:before {
  content: "";
}

/* line 542, ../sass/base/_icon.scss */
.exd-right_arrow:before {
  content: "";
}

/* line 547, ../sass/base/_icon.scss */
.exd-right_round:before {
  content: "";
}

/* line 552, ../sass/base/_icon.scss */
.exd-round_box .path1:before {
  content: "";
  color: #1d3d72;
}

/* line 558, ../sass/base/_icon.scss */
.exd-round_box .path2:before {
  content: "";
  margin-left: -1em;
  color: #1d3d72;
}

/* line 565, ../sass/base/_icon.scss */
.exd-round_box .path3:before {
  content: "";
  margin-left: -1em;
  color: #1d3d72;
}

/* line 572, ../sass/base/_icon.scss */
.exd-round_box .path4:before {
  content: "";
  margin-left: -1em;
  color: #ec2427;
}

/* line 579, ../sass/base/_icon.scss */
.exd-savings:before {
  content: "";
}

/* line 584, ../sass/base/_icon.scss */
.exd-search:before {
  content: "";
}

/* line 589, ../sass/base/_icon.scss */
.exd-settings:before {
  content: "";
}

/* line 594, ../sass/base/_icon.scss */
.exd-son:before {
  content: "";
}

/* line 599, ../sass/base/_icon.scss */
.exd-star:before {
  content: "";
}

/* line 604, ../sass/base/_icon.scss */
.exd-star_fill:before {
  content: "";
}

/* line 609, ../sass/base/_icon.scss */
.exd-tax:before {
  content: "";
}

/* line 614, ../sass/base/_icon.scss */
.exd-tick_01:before {
  content: "";
}

/* line 619, ../sass/base/_icon.scss */
.exd-tick_02:before {
  content: "";
}

/* line 624, ../sass/base/_icon.scss */
.exd-tour:before {
  content: "";
}

/* line 629, ../sass/base/_icon.scss */
.exd-twitter:before {
  content: "";
}

/* line 634, ../sass/base/_icon.scss */
.exd-umbrella_02:before {
  content: "";
}

/* line 639, ../sass/base/_icon.scss */
.exd-umbrlla_01:before {
  content: "";
}

/* line 644, ../sass/base/_icon.scss */
.exd-video:before {
  content: "";
}

/* line 649, ../sass/base/_icon.scss */
.exd-you_tube:before {
  content: "";
}

/***********************************
***** PRE HEADER - TOP LINKS ******
***********************************/
/* line 6, ../sass/layout/_header.scss */
.header-xd .top-strip {
  background: #fbfbfb;
  z-index: 2;
  position: relative;
  -webkit-box-shadow: 2px 0px 5px rgba(64, 64, 64, 0.25);
  -moz-box-shadow: 2px 0px 5px rgba(64, 64, 64, 0.25);
  box-shadow: 2px 0px 5px rgba(64, 64, 64, 0.25);
}
/* line 11, ../sass/layout/_header.scss */
.header-xd .top-strip ul {
  margin: 0;
  padding: 0;
  float: left;
  display: table;
  margin-left: -20px;
}
/* line 17, ../sass/layout/_header.scss */
.header-xd .top-strip ul li {
  display: block;
  float: left;
}
/* line 20, ../sass/layout/_header.scss */
.header-xd .top-strip ul li a {
  color: #777777;
  padding: 9px 16px;
  display: block;
  font-weight: 400;
}
/* line 25, ../sass/layout/_header.scss */
.header-xd .top-strip ul li a:hover {
  color: #000000;
}
/* line 32, ../sass/layout/_header.scss */
.header-xd .search_top {
  float: right;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
/* line 38, ../sass/layout/_header.scss */
.header-xd .search_top .toggle-xd {
  padding: 6px;
}
/* line 41, ../sass/layout/_header.scss */
.header-xd .search_top .toggle-xd:hover i.exd-close,
.header-xd .search_top .toggle-xd:hover i.exd-search {
  color: #63a9e8;
}
/* line 47, ../sass/layout/_header.scss */
.header-xd .search_top .drop-down-xd {
  position: absolute;
  top: 0;
  right: 100%;
  padding: 0;
  background: #ffffff;
  cursor: default;
  width: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
  height: 100%;
  vertical-align: middle;
}
/* line 59, ../sass/layout/_header.scss */
.header-xd .search_top .drop-down-xd form {
  font-size: 14px;
  width: 200px;
  position: relative;
  display: table;
}
/* line 64, ../sass/layout/_header.scss */
.header-xd .search_top .drop-down-xd form input[type="text"] {
  padding: 10px;
  border: 0px;
  position: absolute;
  left: 0;
  top: 0;
  width: 158px;
  outline: none;
  padding-right: 0;
}
/* line 74, ../sass/layout/_header.scss */
.header-xd .search_top .drop-down-xd form button {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: none;
  float: right;
}
/* line 82, ../sass/layout/_header.scss */
.header-xd .search_top .drop-down-xd form button:hover i.exd-search {
  color: #63a9e8;
}
/* line 86, ../sass/layout/_header.scss */
.header-xd .search_top .drop-down-xd form button i.exd-search {
  opacity: 1;
  font-size: 20px;
  vertical-align: sub;
}
/* line 95, ../sass/layout/_header.scss */
.header-xd .search_top.open .drop-down-xd {
  width: 200px;
}
/* line 100, ../sass/layout/_header.scss */
.header-xd .search_top.open i.exd-close {
  opacity: 1;
  color: #c6c6c6;
}
/* line 104, ../sass/layout/_header.scss */
.header-xd .search_top.open i.exd-search {
  opacity: 0;
}
/* line 108, ../sass/layout/_header.scss */
.header-xd .search_top i {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 110, ../sass/layout/_header.scss */
.header-xd .search_top i.exd-close {
  position: absolute;
  left: 6px;
  top: 10px;
  margin: auto;
  opacity: 0;
}
/* line 117, ../sass/layout/_header.scss */
.header-xd .search_top i.exd-search {
  color: #c6c6c6;
  opacity: 1;
}
/* line 123, ../sass/layout/_header.scss */
.header-xd .head-xd {
  padding: 15px 0;
  background: #ffffff;
}
/* line 126, ../sass/layout/_header.scss */
.header-xd .head-xd .logo-xd {
  width: 20%;
  float: left;
}
/* line 129, ../sass/layout/_header.scss */
.header-xd .head-xd .logo-xd img {
  float: left;
}
/* line 133, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd {
  float: left;
  width: 80%;
  font-family: "Titillium Web", sans-serif;
}
/* line 137, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
  padding-left: 15px;
}
/* line 144, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd ul li {
  display: block;
  float: left;
  vertical-align: middle;
  width: 16.6666666%;
}
/* line 150, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd ul li:first-child a {
  padding: 18px 19px;
  background: #ed1c24;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}
/* line 156, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd ul li:first-child a:after {
  display: none;
}
/* line 161, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd ul li a {
  color: #4576a2;
  font-weight: 500;
  float: right;
  display: block;
  padding: 8px 0;
  margin: 8px 0;
  line-height: 1.3;
  position: relative;
}
/* line 170, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd ul li a:hover:after {
  width: 100%;
}
/* line 173, ../sass/layout/_header.scss */
.header-xd .head-xd .nav-xd ul li a:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  width: 0;
  margin: auto;
  height: 2px;
  background: #4576a2;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 192, ../sass/layout/_header.scss */
#nav-icon-xd {
  width: 35px;
  height: 26px;
  float: left;
  position: relative;
  margin-top: 16px;
  margin-right: 15px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* line 202, ../sass/layout/_header.scss */
#nav-icon-xd span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #c1c1c1;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
/* line 213, ../sass/layout/_header.scss */
#nav-icon-xd span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}
/* line 217, ../sass/layout/_header.scss */
#nav-icon-xd span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}
/* line 221, ../sass/layout/_header.scss */
#nav-icon-xd span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}
/* line 227, ../sass/layout/_header.scss */
#nav-icon-xd.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px;
  left: 5px;
}
/* line 232, ../sass/layout/_header.scss */
#nav-icon-xd.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}
/* line 236, ../sass/layout/_header.scss */
#nav-icon-xd.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 23px;
  left: 5px;
}

@media only screen and (max-width: 991px) {
  /* line 246, ../sass/layout/_header.scss */
  .header-xd .head-xd .nav-xd ul li:first-child a {
    padding: 18px 4px;
  }
}
@media only screen and (max-width: 767px) {
  /*for mob hide*/
  /* line 254, ../sass/layout/_header.scss */
  .header-xd .head-xd .nav-xd ul li:nth-child(n+2),
  .header-xd .top-strip {
    display: none;
  }

  /* line 261, ../sass/layout/_header.scss */
  .header-xd .head-xd .logo-xd {
    width: auto;
  }
  /* line 263, ../sass/layout/_header.scss */
  .header-xd .head-xd .logo-xd img {
    width: 120px;
  }
  /* line 268, ../sass/layout/_header.scss */
  .header-xd .search_top.mob-only {
    margin-left: 10px;
  }
  /* line 270, ../sass/layout/_header.scss */
  .header-xd .search_top.mob-only i.exd-close {
    left: 10px;
    top: 12px;
  }
  /* line 275, ../sass/layout/_header.scss */
  .header-xd .search_top.mob-only .drop-down-xd {
    background: #fbfbfb;
  }
  /* line 278, ../sass/layout/_header.scss */
  .header-xd .search_top.mob-only .drop-down-xd form input[type="text"] {
    padding: 14px 10px;
    background: #fbfbfb;
  }
  /* line 282, ../sass/layout/_header.scss */
  .header-xd .search_top.mob-only .drop-down-xd form button {
    height: 48px;
  }
  /* line 288, ../sass/layout/_header.scss */
  .header-xd .search_top.mob-only .toggle-xd {
    padding: 9px;
  }
  /* line 292, ../sass/layout/_header.scss */
  .header-xd .head-xd {
    width: auto;
  }
  /* line 294, ../sass/layout/_header.scss */
  .header-xd .head-xd .nav-xd {
    float: right;
    width: auto;
  }
  /* line 297, ../sass/layout/_header.scss */
  .header-xd .head-xd .nav-xd ul {
    padding-left: 0;
    float: right;
    width: auto;
  }
  /* line 301, ../sass/layout/_header.scss */
  .header-xd .head-xd .nav-xd ul li {
    width: auto;
  }
  /* line 304, ../sass/layout/_header.scss */
  .header-xd .head-xd .nav-xd ul li:first-child a {
    margin: 0;
    padding: 14px 20px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px) {
  /* line 318, ../sass/layout/_header.scss */
  .header-xd .head-xd .nav-xd ul li:first-child a {
    margin: 0;
    padding: 12px 10px;
    font-size: 13px;
  }

  /* line 323, ../sass/layout/_header.scss */
  .header-xd .head-xd .logo-xd img {
    width: 100px;
  }

  /* line 326, ../sass/layout/_header.scss */
  #nav-icon-xd {
    margin-top: 10px;
  }
}
/* line 1, ../sass/layout/_master-layout.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* line 5, ../sass/layout/_master-layout.scss */
.btn-effect {
  overflow: hidden;
}

/* line 8, ../sass/layout/_master-layout.scss */
button {
  font-family: "Titillium Web", sans-serif;
  display: inline-block;
  outline: none 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  background: #4576a2;
  overflow: hidden;
  padding: 0;
  border: none 1px #4576a2;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  color: set-button-text-color(#4576a2);
}
/* line 89, ../sass/helpers/_mixins.scss */
button:hover {
  text-decoration: none;
  background: #3977ae;
}
/* line 93, ../sass/helpers/_mixins.scss */
button:active {
  outline: none 0px;
}
/* line 96, ../sass/helpers/_mixins.scss */
button:focus {
  outline: none 0px;
}

/* line 14, ../sass/layout/_master-layout.scss */
.shape {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
}
/* line 189, ../sass/helpers/_mixins.scss */
.shape:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
}

/* line 19, ../sass/layout/_master-layout.scss */
a {
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
  -ms-transition: color .3s ease-out;
  -o-transition: color .3s ease-out;
  transition: color .3s ease-out;
}
/* line 25, ../sass/layout/_master-layout.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 29, ../sass/layout/_master-layout.scss */
.mob-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  /*for mob hide*/
  /* line 38, ../sass/layout/_master-layout.scss */
  .mob-only {
    display: block;
  }
}
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/components/_button.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/components/_button.scss */
button {
  font-family: "Titillium Web", sans-serif;
  display: inline-block;
  outline: none 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  background: #afafaf;
  overflow: hidden;
  padding: 0;
  border: none 1px #afafaf;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 89, ../sass/helpers/_mixins.scss */
button:hover {
  text-decoration: none;
  background: #b7a7a7;
}
/* line 93, ../sass/helpers/_mixins.scss */
button:active {
  outline: none 0px;
}
/* line 96, ../sass/helpers/_mixins.scss */
button:focus {
  outline: none 0px;
}
/* line 11, ../sass/components/_button.scss */
button span {
  display: block;
  user-select: none;
  position: relative;
  overflow: hidden;
  padding: 0.5em 1em;
}
/* line 17, ../sass/components/_button.scss */
button span:hover {
  cursor: pointer;
}

/* line 23, ../sass/components/_button.scss */
.circle {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.085);
  border-radius: 50%;
  transform: scale(0);
}
/* line 29, ../sass/components/_button.scss */
.circle.animate {
  animation: effect 0.65s linear;
}

@keyframes effect {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
/*Home page components*/
/* line 3, ../sass/pages/_template.scss */
.box, .box-default, .box-blue {
  border: 0px none;
  clear: both;
  display: block;
  margin: 0;
  padding: 1.5em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px rgba(64, 64, 64, 0.25);
  -moz-box-shadow: 0px 0px 5px rgba(64, 64, 64, 0.25);
  box-shadow: 0px 0px 5px rgba(64, 64, 64, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 10, ../sass/pages/_template.scss */
.box-default {
  background: #ffffff;
}

/* line 15, ../sass/pages/_template.scss */
.box-blue {
  background: #4576a2;
}
/* line 18, ../sass/pages/_template.scss */
.box-blue * {
  color: #ffffff;
}
/* line 21, ../sass/pages/_template.scss */
.box-blue h2 {
  font-size: 1.5em;
}
/* line 24, ../sass/pages/_template.scss */
.box-blue button {
  border: solid 1px #ffffff !important;
  font-family: "Titillium Web", sans-serif;
  display: inline-block;
  outline: none 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  background: transparent;
  overflow: hidden;
  padding: 0;
  border: none 1px transparent;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 89, ../sass/helpers/_mixins.scss */
.box-blue button:hover {
  text-decoration: none;
  background: transparent;
}
/* line 93, ../sass/helpers/_mixins.scss */
.box-blue button:active {
  outline: none 0px;
}
/* line 96, ../sass/helpers/_mixins.scss */
.box-blue button:focus {
  outline: none 0px;
}
