body{
}
button{
	@include button($btn-darker);
	@include rounded($border-radius/2);
	color: set-button-text-color(#4576a2);
}

.shape{
//	@include shape-circle(100px, red);
//	@include triangle(down, 50px, red);
	 @include shape-diamond(100px, red);
}
a{
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
    &:hover{
        text-decoration: none;
    }
}
