*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
    @include button($btn-light);
  span {
    display: block;
    user-select: none;
    position: relative;
    overflow: hidden;
    padding: $btn-space/2 $btn-space;
    &:hover {
      cursor: pointer;
    }
  }
}

.circle {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, .085);
  border-radius: 50%;
  transform: scale(0);
  &.animate {
    animation: effect 0.65s linear;
  }
}

@keyframes effect {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
