dl, ol, ul, h1, h2, h3, h4, h5, h6{
	margin-bottom: 0;
}
.owl-theme .owl-dots .owl-dot span{
    margin: 0px 7px;
    background: #dae4ec;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #8fadc7;
}
