/*Home page components*/

/******Article Section starts******/
.min-hgt-content-area{
	.article-default{
		@include box-shadow(0, 1px, 5px, rgba(0, 0, 0, .30));
		@include rounded();
		background: $clr-blue-darker;
		margin-bottom: $padding-default;
		*{
			color: $clr-white;
		}
		.article-img{

		}
		.article-text {
			padding:1.5*$padding-default;
			h1, h2, h3, h4, h5, h6{
				font-family: $brand-font-neo;
			}
			h1, h2, h3, h4, h5, h6, p{
				margin-bottom: $padding-default;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}
/******Article Section ends******/

.min-hgt-content-area{
	.box-default{
		@include box-shadow(0, 1px, 5px, rgba(0, 0, 0, .30));
		@include rounded();
		padding: $padding-default;
		background: $clr-white;
		position: relative;
		margin-bottom: $padding-default;
		.box-img{
			width: 150px;
		}
		.box-float{
			width: 50%;
		}
		.box-content{
			h5{
				color: $clr-blue-darker;
				line-height: 2*$base-font;
				padding-bottom: $padding-default;
			}
			a{
				color: $clr-blue-light;
				margin-top: $padding-default;
			}
			ul.list-none{
				list-style-type: none;
				i{
					margin-right: 1/2*$padding-default;
				}
				li{
					margin-bottom: $padding-default;
					&:last-child{
						margin-bottom: 0;
					}
				}
				.text-highlight{
					font-weight: bold;
					color: $clr-blue-darker;
					margin-top: $padding-default;
				}
			}
		}

	}
}

@media only screen and (max-width: 991px) {
	.min-hgt-content-area{
		.box-default{
			.box-img{
				width: 100%;
			}
			.box-float{
				width: 100%;
			}
		}
	}
}

