/*Home page components*/

.box{
	@include box();
	@include box-sizing();
	@include box-shadow(0px);
	@include rounded();
}

.box-default{
	@extend .box;
	background: $clr-white;
}

.box-blue{
	@extend .box;
	background: $clr-blue-darker;
	*{
		color: $clr-white;
	}
	h2{
		font-size: 1.5em;
	}
	button{
		border: solid 1px $clr-white !important;
		@include button(transparent);
	}
}
