/*1. Background*/

$clr-white: #ffffff;

$clr-blue-light: #63a9e8;
$clr-blue-lighter: #7db7ec;
$clr-blue-dark: #688fb2;
$clr-blue-darker: #4576a2;

$clr-black-lighter: #8d8d8d;
$clr-black-light: #333333;
$clr-black-dark: #000000;

$clr-grey-lighter: #fbfbfb;
$clr-grey-light: #777777;
$clr-grey-dark: #5b5b5b;
$clr-grey-darker: #3e3e3e;


/*3. Button*/

$btn-light: #afafaf;
$btn-dark: #63a9e8;
$btn-darker: #4576a2;

$btn-space: 1em;


/*4. Accordian & Tabs*/

$tab-dark: #688fb2;
$tab-darker: #4576a2;

$acc-light: #e8f5fc;
$acc-lighter: #eeeeee;


/*5. Tables*/

$tbl-dark: #eeeeee;
$tbl-light: #e8f5fc;

/*6. Typogrphy*/

$brand-font-rob: 'Roboto', sans-serif;
$brand-font-neo: 'Titillium Web', sans-serif;

$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 600;
$text-bolder: 700;

/*7. Border*/

$border-width: 1px;
$border-radius: 10px;


/*8. Spacer*/

$padding-default: 1em;
