/*1. Background*/

$clr-white: #ffffff;

$clr-blue-light: #63a9e8;
$clr-blue-lighter: #7db7ec;
$clr-blue-dark: #688fb2;
$clr-blue-darker: #4576a2;
$clr-blue-dark-1: #3791e2;

$clr-black-lighter: #8d8d8d;
$clr-black-light: #333333;
$clr-black-dark: #000000;
$clr-black-darker: #2b2a2a;


$clr-grey-lighter: #fbfbfb;
$clr-grey-light: #777777;
$clr-grey-dark: #5b5b5b;
$clr-grey-darker: #3e3e3e;

$clr-ftr-1: #f9f9f9;
$clr-ftr-2: #828282;
$clr-ftr-3: #484848;
$clr-ftr-4: #363636;


$clr-facebook: #3b5998;
$clr-twitter: #55acee;
$clr-in: #0077b5;
$clr-you-tube: #cd201f;
$clr-google-puls: #db402c;

$clr-border-lighter: #deebf6;
$clr-border-light: #c7d6e3;
$clr-border-dark: #d7d7d7;

$clr-red: #ed1c24;

$clr_silver_approx: #c1c1c1;
/*3. Button*/

$btn-light: #afafaf;
$btn-dark: #63a9e8;
$btn-darker: #4576a2;

$btn-space: 1em;


/*4. Accordian & Tabs*/

$tab-dark: #688fb2;
$tab-darker: #4576a2;

$acc-light: #e8f5fc;
$acc-lighter: #eeeeee;


/*5. Tables*/

$tbl-dark: #eeeeee;
$tbl-light: #e8f5fc;

/*6. Typogrphy*/

$brand-font-rob: 'Roboto', sans-serif;
$brand-font-neo: 'Titillium Web', sans-serif;

$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-medium: 500;
$text-weight-bold: 600;
$text-weight-bolder: 700;

$text-size-light: 12px;;
$text-size-regular: 14px;
$text-size-medium: 17px;
$text-size-bold: 20px;
$text-size-bolder: 25px;


/*7. Border*/

$border-width: 1px;
$border-radius: 4px;

/*8. Spacer*/

$padding-default: 1em;
